replicaCount: 1

environment: "production"
imageTag: "v0.0.1"
createSecret: false

ingressHttp:
  subnet: "subnet-0589f334bf7261ebc, subnet-00a9a4d44bb87e9ac, subnet-04b36e378f84ca96a"
  certificate: "arn:aws:acm:ap-southeast-1:295611038986:certificate/9e275dae-37b5-4f75-a7d0-c2d75ac9e627"
  groupname: "cazh-production"
  domain: "services.cazh.id"
  path: "/dummy-app"

resourcesHttp:
  limits:
    cpu: 400m
    memory: 512Mi
  requests:
    cpu: 400m
    memory: 512Mi

autoscalingHttp:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 75
  targetMemoryUtilizationPercentage: 75

configs:
  basePath: '/dummy-app'

secrets: {}

# secrets:
#   BASE_PATH: L2R1bW15LWFwcA==
